@import url('config.css');


header{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

header a {
    color: #333;
    font-weight: 700;
}

main{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



/* Step One */

.formContainer, .step2_1{
    width: 70%;
    max-width: 600px;
    text-align: left;
    margin: 20px auto;
    line-height: 2.4em;
}

.formContainer h1{
    font-size: 40px;
    margin: 10px 0;
}

.formContainer > p{
    margin: 5px 0;
}

input[type='email'], input[type='password'], input[type='submit'], button{
    background: none;
    outline: none;
    border: 1px solid #aaa;
    width: 100%;
    height: 60px;
    padding: 10px;
}

form > div, form > input{
    margin: 10px 0;
}

.pwd, .mail{
    display: none;
}

.clicked{
    display: block;
}

input[type='submit'], button{
    border-radius: 5px;
    background: rgb(219, 3, 3);
    border: none;
    color: #eee;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.step1{
    height: 85vh;
    margin: 40px auto;
}

.step1 p, .step1 small{
    font-size: 22px;
}

.step1 small input{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}




/* step 2 first part */
/* Some styles are inherited from the step 1 */


.step2_1 h1, .step2_1 > p{
    text-align: center;
    margin: 10px auto;
}

.step2_1 h1, .step2-2 h1{
    font-weight: 900;
}

.step{
    text-transform: uppercase;
}

.step span{
    font-weight: 800;
}

.step2_1 > img{
    width: 45px;
    display: grid;
    place-items: center;
    margin: 10px auto;
}

.tags{
    margin: 20px auto;
}

.tag{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.tag img{
    margin-right: 5px;
}

.step2_1 input, .step2-2 input{
    margin: 20px 0;
}


/* step 2 part two */

.step2-2{
    width: 100%;
    padding: 20px;
    text-align: left;
}

.planCards{
    color: #fff;
    font-weight: 600;
    display: flex;
}

.empty{
    content: ' ';
    height: 100px;
    width: 20%;
    margin: 10px;
}

.cards{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 auto auto;
}

.card{
    border-radius: 3px;
    display: grid;
    place-items: center;;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 30px 20px;
    background: rgba(219, 3, 3, .4);
}

.card:last-child{
    background-color: rgb(219, 3, 3);
    position: relative;
}

.card:last-child::after{
    content: ' ';
    position: absolute;
    bottom: 0;
    right: 50%;
    border: 0px 2px 2px 0 solid rgb(219, 3, 3);
    background: rgb(219, 3, 3);
}

.step2-2 h4:last-child{
    color: rgb(219, 3, 3);
}

.price , .quality, .resolution, .devices{
    display: flex;
    justify-content: space-between;
}



/* Step 3 */
.step3{
    width: 60%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

/* .close{
    display: none;
} */

.openLast{
    display: flex;
}

.doubleDevice{
    width: 50px;
    height: 70px;
    display: flex;
    justify-items: baseline;
    align-items: baseline;
}

.doubleDevice img:last-child{
    width: 25px;
    height: 50%;
}

.step3 h1{
    font-size: 40px;
    font-weight: 600;
    margin: 10px auto;
}

.step3 p{
    margin: 10px auto;
    line-height: 1.5em;
    font-size: 22px;
}


.step3 .next{
    margin: 10px auto;
    padding: 30px auto;
    width: 100%;
    max-width: 450px;
}

.step3 .next a{
    color: #fff;
}


footer {
    background: #f0f0f0;
}


.open{
    display: block;
}

.close{
    display: none;
}