<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../Assets/Styles/contactUs.css">
    <link rel="shortcut icon" href="../Assets/Images/Netflix_Symbol.png" type="image/x-icon">
    <title>Netflix NG Clone || Contact Us</title>
</head>
<body>
    
    <div class="container">
        <header>
            <div class="left-nav">
                <a href="index.html"><img src="../assets/Images/Netflix_Logo.png" id="logo" ></a>
                <p>Help Center</p>
            </div>
            <div class="right-nav">
                <a href="./signUp.html">Join Netflix</a>
                <a href="./login.html">Sign In</a>
            </div>
        </header>

        <main>
            <a href=""><img src="../Assets/Images/arrow-left.svg" width="10px">Back to Help Home</a>
            <h1>Contact Customer Service</h1>
            <section>
                <h3>Call us from the Netflix App</h3>
                <p>Contacting Netflix is now easier than ever when you contact us from the Netflix app on your Android or iOS phone or tablet. Calling through the app is free - all you need is an internet or cellular connection.</p>
                <h4>Download the Netflix App: </h4>
                <div class="apps">
                    <img src="../Assets/Images/play-store.png" alt="">
                    <img src="../Assets/Images/app-store.png" alt="">
                </div>
                <p id="question">Questions? <a href="\">Learn how to contact us from the Netflix app! </a></p>
            </section>

            <section class="phone">
                <h3>Call us from any phone</h3>
                <h4>Phone is currently unavailable.</h4>
                <p>Call us using the Netflix app as we don't offer a phone number in your country</p>
                <a href="" class="cta">call us</a>
            </section>

            <section class="liveChat">
                <h3>Live Chat</h3>
                <p>You will need an internet or mobile phone connection.</p>
                <a href="" class="cta">start live chat</a>
            </section>
        </main>


        <footer>
            <div class="footer">
            <div class="top">
                <select name="languages" id="languages">
                    <option value="en">English</option>
                    <option value="es">Spanish</option>
                    <option value="fr">French</option>
                    <option value="ar">Arabic</option>
                    <option value="ge">German</option>
                </select>
                <p>Questions? <a href="/login.html">Contact us.</a></p>
            </div>
            <ul>
                <li><a href="">FAQ</a></li>
                <li><a href="">Help Center</a></li>
                <li><a href="">Account</a></li>
                <li><a href="">Media Center</a></li>
                <li><a href="">Investor Relations</a></li>
                <li><a href="">Jobs</a></li>
                <li><a href="">Ways to Watch</a></li>
                <li><a href="">Terms of Use</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="">Cookie Preferences</a></li>
                <li><a href="">Corporate Information</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Speed Test</a></li>
                <li><a href="">Legal Notices</a></li>
                <li><a href="">Only on Netflix</a></li>
            </ul>
    
            <p>Netflix Nigeria, a clone by <a href="http://wwww.github.com/bi9bos" target="_blank" rel="noopener noreferrer">Tiamiyu Faruq A.</a></p>
        </div>
        </footer>

    </div>
    
</body>
</html>