<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../Assets/Styles/loginHelp.css">
    <link rel="shortcut icon" href="../Assets/Images/Netflix_Symbol.png" type="image/x-icon">
    <title>Netflix NG Clone || Login Help</title>
</head>
<body>
    
    <div class="container">

        <header>
            <a href="index.html"><img src="../assets/Images/Netflix_Logo.png"id="logo"></a>
            <a href="./login.html">Sign In</a>
        </header>

        <main>
            <div class="card">
                <h1>Forgot Password</h1>
                <form>
                    <label for="forgotten">How would you like to reset your password?</label>
                    <input type="radio" name="forgotten" >Email <br>
                    <input type="radio" name="forgotten" >Text Message (SMS)

                    <p>We will </p>
                    <input type="email" required>

                    <input type="submit" value="Submit">

                </form>
                <a href="#">I don't remember my email or phone number</a>

            </div>
            <p>This page is protected by Google reCAPTCHA to ensure you're not a bot. </p>

        </main>

        <footer>
            <p>Questions? <a href="/login.html">Contact us.</a></p>
            <ul>
                <li><a href="">FAQ</a></li>
                <li><a href="">Help Center</a></li>
                <li><a href="">Account</a></li>
                <li><a href="">Media Center</a></li>
                <li><a href="">Investor Relations</a></li>
                <li><a href="">Jobs</a></li>
                <li><a href="">Ways to Watch</a></li>
                <li><a href="">Terms of Use</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="">Cookie Preferences</a></li>
                <li><a href="">Corporate Information</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Speed Test</a></li>
                <li><a href="">Legal Notices</a></li>
                <li><a href="">Only on Netflix</a></li>
            </ul>
    
            <p>Netflix Nigeria, a clone by <a href="http://wwww.github.com/bi9bos" target="_blank" rel="noopener noreferrer">Tiamiyu Faruq A.</a></p>
        </footer>

    </div>
    
</body>
</html>