<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/Styles/login.css">
    <link rel="shortcut icon" href="../Assets/Images/Netflix_Symbol.png" type="image/x-icon">
    <title>Netflix NG Clone || Sign In</title>

</head>
<body>
    

    <div class="container">
        <header><a href="index.html"><img id="logo" src="../assets/Images/Netflix_Logo.png"></a></header>

        <main>

            <section class="card">
                <article class="form">
                    <h1>Sign In</h1>
                    <form action="./index.html">

                        <div class="emailInput">
                            <p class="mail">Email or phone number</p>
                            <input type="email" id="email">
                        </div>
                        <div class="pwdInput">
                            <p class="pwd">Password</p>
                            <input type="password" id="pwd">
                        </div>
                        <input type="submit" value="Sign In">
                    </form>
                    <div class="pro">
                        <p><input type="checkbox" id="check">Remember Me</p>
                        <a href="./LoginHelp.html">Need help?</a>
                    </div>
                </article>
                <article class="moreChoice">
                    <p>New to Netflix? <a href="./signUp.html">Sign up now</a></p>
                    <small>The page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#">Learn more.</a></small>
                </article>
                
            </section>

        </main>

        <footer>
            <div class="footer">
            <p>Questions? <a href="./contactUs.html">Contact us.</a></p>
            <ul>
                <li><a href="">FAQ</a></li>
                <li><a href="">Help Center</a></li>
                <li><a href="">Account</a></li>
                <li><a href="">Media Center</a></li>
                <li><a href="">Investor Relations</a></li>
                <li><a href="">Jobs</a></li>
                <li><a href="">Ways to Watch</a></li>
                <li><a href="">Terms of Use</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="">Cookie Preferences</a></li>
                <li><a href="">Corporate Information</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Speed Test</a></li>
                <li><a href="">Legal Notices</a></li>
                <li><a href="">Only on Netflix</a></li>
            </ul>
    
            <p>Netflix Nigeria, a clone by <a href="http://wwww.github.com/bi9bos" target="_blank" rel="noopener noreferrer">Tiamiyu Faruq A.</a></p>
        </div>
        </footer>

    </div>

    <script src="../Assets/Js/signIn.js"></script>

</body>
</html>