<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../Assets/Styles/signup.css">
    <link rel="shortcut icon" href="../Assets/Images/Netflix_Symbol.png" type="image/x-icon">
    <title>Netflix NG Clone || Register</title>

</head>
<body>
    
    <div class="container">

        <header>
            <a href="index.html"><img src="../assets/Images/Netflix_Logo.png" id="logo"></a>
            <a href="./login.html">Sign In</a>
        </header>

        <main>
            <section class=" step1 formContainer open">
                <h1>Create a password to start your membership</h1>
                <p>Just a few more steps and you're done!</p>
                <p>We have paperwork too.</p>
                <form action="./index.html" method="post">
                    <div class="emailInput">
                        <p class="mail">Email</p>
                        <input type="email" id="email" placeholder="Email">
                    </div>
                    <div class="pwdInput">
                        <p class="pwd">Add a password</p>
                        <input type="password" id="pwd" placeholder="Add a password">
                    </div>
                    <small>
                        <input type="checkbox" name="offer" >Please do not email me Netflix special offers.
                    </small>
                    <input class='signUpOne next' type="submit" value="Next">
                </form>
            </section>

            <section class="step2_1 close">
                <img src="../Assets/Images/Checkmark.png" alt="">
                <p class="step">
                    <small>step <span>2</span> of <span>3</span></small>
                </p>

                <h1>Choose your plan.</h1>
                <div class="tags">
                    <div class="tag">
                        <img src="../Assets/Images/check.svg" >
                        <p>Lorem ipsum, dolor sit amet.</p>
                    </div>
                    <div class="tag">
                        <img src="../Assets/Images/check.svg" >
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    <div class="tag">
                        <img src="../Assets/Images/check.svg" >
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                </div>
                <input class='signUpTwoOne next' type="submit" value="Next">

            </section>

            <section class="step2-2 close">
                <p class="step">
                    <small>step <span>2</span> of <span>3</span></small>
                </p>

                <h1>Choose your plan.</h1>
                <div class="tags">
                    <div class="tag">
                        <img src="../Assets/Images/check.svg" >
                        <p>Lorem ipsum, dolor sit amet.</p>
                    </div>
                    <div class="tag">
                        <img src="../Assets/Images/check.svg" >
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    <div class="tag">
                        <img src="../Assets/Images/check.svg" >
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                </div>


                <article class="plans">
                    <div class="planCards">
                        <div class="empty">&nbsp;</div>
                        <div class="empty">&nbsp;</div>
                        
                        <div class="cards">
                            <div class="card">Mobile</div>
                            <div class="card">Basic</div>
                            <div class="card">Standard</div>
                            <div class="card">Premium</div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="head">Monthly price</div>
                        <div>
                            <h4>ngn1,200</h4>
                            <h4>ngn2,900</h4>
                            <h4>ngn3,600</h4>
                            <h4>ngn4,400</h4>
                        </div>
                    </div>
                    <div class="quality">
                        <div class="head">Video quality</div>
                        <div>
                            <h4>Good</h4>
                            <h4>Good</h4>
                            <h4>Better</h4>
                            <h4>Best</h4>
                        </div>
                    </div>
                    <div class="resolution">
                        <div class="head">Resolution</div>
                        <div>
                            <h4 class="smallP">480p</h4>
                            <h4 class="smallP">480p</h4>
                            <h4 class="smallP">1080p</h4>
                            <h4>4k+hdr</h4>
                        </div>
                    </div>
                    <div class="devices">
                        <div class="head">Devices you can use to watch</div>
                        <div>
                            <div class="mobile">
                                <div id="phone">
                                    <img src="../Assets/Images/mobile.svg" width="20px"><h4>Phone</h4>
                                </div>
                                <div class="tablet">
                                    <img src="../Assets/Images/tablet.svg" width="20px" style="transform: rotate(-90deg);">
                                </div>
                            </div>

                            <div class="basic">
                                <div id="phone">
                                    <img src="../Assets/Images/mobile.svg" width="20px"><h4>Phone</h4>
                                </div>
                                <div class="tablet">
                                    <img src="../Assets/Images/tablet.svg" width="20px" style="transform: rotate(-90deg);">
                                </div>
                                <div class="computer">
                                    <img src="../Assets/Images/tv.svg" width="22px">
                                    <h4>Computer</h4>
                                </div>
                                <div class="tv">
                                    <img src="../Assets/Images/tv.svg" width="25px">
                                    <h4>TV</h4>
                                </div>
                            </div>
                            
                            <div class="standard">
                                <div id="phone">
                                    <img src="../Assets/Images/mobile.svg" width="20px"><h4>Phone</h4>
                                </div>
                                <div class="tablet">
                                    <img src="../Assets/Images/tablet.svg" width="20px" style="transform: rotate(-90deg);">
                                </div>
                                <div class="computer">
                                    <img src="../Assets/Images/tv.svg" width="22px">
                                    <h4>Computer</h4>
                                </div>
                                <div class="tv">
                                    <img src="../Assets/Images/tv.svg" width="25px">
                                    <h4>TV</h4>
                                </div>
                            </div>

                            <div class="premium">
                                <div id="phone">
                                    <img src="../Assets/Images/mobile.svg" width="20px"><h4>Phone</h4>
                                </div>
                                <div class="tablet">
                                    <img src="../Assets/Images/tablet.svg" width="20px" style="transform: rotate(-90deg);">
                                </div>
                                <div class="computer">
                                    <img src="../Assets/Images/tv.svg" width="22px">
                                    <h4>Computer</h4>
                                </div>
                                <div class="tv">
                                    <img src="../Assets/Images/tv.svg" width="25px">
                                    <h4>TV</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </article>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint tenetur ad laboriosam iste mollitia, suscipit itaque sed enim aut <a href="#"> necessitatibus est</a> numquam fugiat illum dolore autem consequatur. Eius, quae? Rem!</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit consectetur nobis sit ducimus inventore ipsa placeat. Error, ex!</p>


                <input class='signUpTwoTwo next' type="submit" value="Next">
            </section>

            <section class="step3 close">
                <div class="doubleDevice">
                    <img src="../Assets/Images/tablet.svg" alt="">
                    <img src="../Assets/Images/mobile.svg" alt="">
                </div>
                <h1>Finish setting up your account</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe molestias possimus dolore ipsam culpa, ex iure earum tempora. Suscipit fugiat est..</p>
                <button class='next' type="submit"><a href="./index.html">Next</a></button>
            </section>


        </main>

        <footer>
            <div class="footer">
                <p>Questions? <a href="/login.html">Contact us.</a></p>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Help Center</a></li>
                    <li><a href="">Account</a></li>
                    <li><a href="">Media Center</a></li>
                    <li><a href="">Investor Relations</a></li>
                    <li><a href="">Jobs</a></li>
                    <li><a href="">Ways to Watch</a></li>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="">Cookie Preferences</a></li>
                    <li><a href="">Corporate Information</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Speed Test</a></li>
                    <li><a href="">Legal Notices</a></li>
                    <li><a href="">Only on Netflix</a></li>
                </ul>
        
                <p>Netflix Nigeria, a clone by <a href="http://wwww.github.com/bi9bos" target="_blank" rel="noopener noreferrer">Tiamiyu Faruq A.</a></p>
            </div>
        </footer>
        
    </div>
    
    <script src="../Assets/Js/signUp.js"></script>
</body>
</html>